@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=M+PLUS+Code+Latin:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    margin: 0;
    padding: 0px;
}
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background-color: #f5f5f5;
}
.top {
    background-color: #2C2C2C;
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 10;
    color: #fff;
}
.main {
    background-color: #CCCCCC;
}
.mainlinks {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    /* text-align: right; */
}
.socialLinks {
    /* width: 40%; */
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: left;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 10px;
    margin-right: 100px;
}
.eventCall {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
}
.callLeft {
    width: 50px;
    height: 50px;
    background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/Stack%20Colour.png?v=1709335313198');
    background-position: center;
    background-size: cover;
}
.facebook, .insta {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    background-color: #2C2C2C;
    padding: 10px;
    border-radius: 50%;
    margin-right: 20px;
}
.fa, .in {
    font-size: 24px;
}
.socials {
    display: none;
}
.pages a {
    color: #f5f5f5;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    margin-right: 20px;
}
.ff {
    margin-right: 50px;
}
.icon {
    font-size: 18px;
    margin-left: 10px;
    color: #000;
}
.logo {
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 100px;
}
/* .Logo {
    margin-right: 50px;
    margin-left: 50px;
} */
.menu {
    font-size: 32px;
    margin-right: 30px;
}
.banner {
    position: relative; /* Make the container a positioned element */
    width: 100%;
    height: 50vh;
    background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/Designer%20(10).jpg?v=1710806930554');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
    z-index: 1; /* Ensure the overlay is above the background image but below any content */
}

/* To ensure content inside the banner is above the overlay */
.banner > * {
    position: relative;
    z-index: 2;
}

.mission {
    width: 90%;
    font-family: "Fjalla One", sans-serif;
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}
.subHead {
    margin-bottom: 50px;
}
.lowerHead {
    font-size: 14px;
}
.evnt {
    width: 40%;
    margin-bottom:30px;
    background-color: #2C2C2C;
    padding: 10px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
}
.catch {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    margin-bottom: 5px;
    margin-left: 100px;
    margin-right: 100px;
}
.byline {
    font-family: "Inter" sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 20px;
    margin-right: 100px;
}
.evntDsc {
    font-size: 13px;
    margin-top: 10px;
}
.introduction {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.HEAD {
    color: #000;
    background-color: #fff;
    font-size: 25px;
    width: 20%;
    margin: 0 auto;
    /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); */
    font-family: "Madimi One", sans-serif;
    text-transform: uppercase;
    line-height: 2rem;
    margin-bottom: 30px;
}
.evt {
    margin: 0 auto;
}
.Btn {
    font-family: "Fjalla One", sans-serif;
    color: #fff;
    font-size: 14px;
    background-color: transparent;
    font-weight: 100;
    border: 3px solid rgb(0, 0, 0);
    color: #000;
    padding: 10px 10px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.BN {
    /* animation: slideIn 1s forwards; */
    /* visibility: hidden; */
}


.BTN {
    padding: 10px 30px;
    background-color: rgba(240, 170, 21, 1);
    border: none;
    border-radius: 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    transition: .1s;
    color: rgba(115, 47, 47, 0.5);
    animation: slideIn 1s 1.5s forwards;
}
@keyframes slideIn {
    0% {
        /* transform: translateY(-100%); */
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.BTN a {
    color: rgba(115, 47, 47, 0.5);
    text-decoration: none;
}
.BTN:hover {
    transform: scale(1.1);
    transition: 0.2s;
}
.ivtDesc, .host, .time, .date, .location {
    margin-bottom: 20px;
}
.local, .hst, .dte, .ivtDsc {
    font-size: 20px;
    font-weight: 300;
    
}
.hst {
    color: rgba(0, 0, 0, 0.5);
}
.hh {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
}
.divider {
    width: 100%;
    height: 4px;
    background-color:rgba(0, 0, 0, 1);
    margin-bottom: 5px;
    animation: divider linear 2s;
}
@keyframes divider {
    0% {
        width: 20%;
    }
    100% {
        width: 100%;
    }
}
.e {
    margin-right: 20px;
    border: 2px solid #f5f5f5;
    padding: 10px 20px;
    margin-right: 100px;
}
.eLink {
    color: #f5f5f5;
    font-size: 16px;
}
.cardContainer {
    margin-bottom: 10px;
}
.cardDesc {
    /* text-align: left; */
    /* width: 90%; */
    font-size: 20px;
    font-weight: 300;
    color: #000;
    text-decoration: none;
}
.cardDesc:hover {
    text-decoration: underline;
    /* transition: 0.2s; */
}
.button {
    width: 100%;
    display: flex;
    justify-content: end;
}
.btn {
    padding: 10px 30px;
    background-color: #000;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    transition: .1s;
    color: #fff;
}
.btn:hover {
    color: #ffa500;
}
.btn:active {
    transform: scale(0.8);
}
.art {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
}
.invite {
    display: flex;
    padding: 50px 200px;
    justify-content: center;
}
.ivtTxt {
    width: 50%;
    padding: 20px;
    text-align: left;
}
.ivtImage {
    width: 50%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.ivtImg {
    width: 100%;
}
.call2Action {
    text-align: left;
}
.card {
    width: 30%;
    cursor: pointer;
}
.cardH {
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    display: flex;
}
.cardHead {
    font-size: 18px;
    color: #000;
}
.cardHead:hover {
    margin-right: 20px;
    transition: 0.2s;
}
.cardImage1 {
    width: 100%;
    height: 400px;
    background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/F5AB8F48-BBFA-40E4-A6B8-5BB94A1EADD8.JPG?v=1709091670561');
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.cardImage2 {
    width: 100%;
    height: 400px;
    background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/429608018_1117938806072685_2354119637070037185_n.jpg?v=1709113611631');
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.change {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    margin-bottom: 50px;
}
.left {
    width: 50%;
    text-align: center;
    padding: 50px;
    background-color: #fff;
}
.paintParty {
    padding: 50px;
    background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/28D0265F-C40B-453D-AFC6-3AE8920452A7%20(1).jpg?v=1709099711822');
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}
.scrollEvent {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}
/* .flyerCon {
    display: flex;
    align-items: end;
} */
.flyer {
    width: 100%;
    height: 450px;
    background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/WhatsApp%20Image%202024-06-18%20at%2010.32.19_efe0669b.jpg?v=1718754179273');
    background-position: center;
    background-size:contain;
    margin: 0 auto;
    margin-bottom: 30px;
}
.flyerContain {
    /* width: 20%;
    display: block;
    margin-left: 100px; */
}
.tickets {
    display: flex;
    justify-content: left;
    /* padding: 25px; */
    margin-bottom: 20px;
    /* margin-left: 50px; */
}
.ticket {
    background-color: #2C2C2C;
    border: none;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    height: auto;
    margin-bottom: 30px;
}
.details {
    background-color: #fff;
    padding-bottom: 20px;
}
.eventImage {
    width: 500px;
    height: 300px;
    background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/IMG-20240318-WA0002.jpg?v=1710812412888');
    background-size: cover;
    background-position: center;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.play {
    position: absolute;
    color: #fff;
    font-size: 50px;
}
.popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #f5f5f5;
    backdrop-filter: blur(20px);
    width: 50%;
    height: 80vh;
    overflow: auto;
    /* scroll-behavior: smooth; */
    padding: 20px;
    box-sizing: border-box;
    z-index: 55;
}
.popup .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #f5f5f5;
    font-size: 25px;
    font-weight: 600px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
} 
.popup.active .overlay {
    display: block;
}
.popup.active .content {
    transition: all 100ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}
/* .fixedTop {
    position: fixed;
} */
.video {
    width: 100%;
    margin-bottom: 10px;
    background-color: #000;
}
.videoTitle {
    margin-bottom: 5px;
}
.close-button {
    /* width: 30px;
    height: 30px; */
    font-size: 25px;
    background-color: #141414;
    padding: 10px;
    color: #fff;
    /* border: none; */
    /* line-height: 30px; */
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.exposure {
    padding: 50px;
    margin-bottom: 30px;
}
.adImage {
    width: 400px;
    height: 500px;
    background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/IMG-20240318-WA0005.jpg?v=1710812431815');
    background-size: cover;
    background-position: center;
}
.learnHead {
    font-family: "M PLUS Code Latin", monospace;
    font-optical-sizing: auto;
    font-size: 40px;
    font-weight: 800;
}
.learnBody {
    font-size: 18px;
    font-weight: 300;
}
.btnLink {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}
.learnLink:hover {
    cursor: pointer;
}
.right {
    width: 50%;
    height: auto;
    background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/IMG-20240318-WA0003.jpg?v=1714867317130');
    background-size: cover;
    background-position: center;
}
.floor {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000;
    margin-bottom: 100px;
}
.floorLogo {
    width: 20%;
    position: absolute;
    left: 70%;
    margin-top: 50px;
}
.contact {
    width: 100%;
}
.cntct {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.com {
    width: 50%;
}
.contactHead {
    width: 80%;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 40px;
}
/* .input label {
    margin-right: 100px;
} */
.input {
    display: flex;
    align-items: end;
    margin-bottom: 20px;
    font-size: 14px;
}
.input label {
    margin-right: 10px;
}
#name, #email, #comment {
    padding: 10px;
    outline: none;
    width: 50%;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #000;
    /* margin-bottom: 20px; */
}
#comment {
    width: 80%;
    font-family: "Inter" sans-serif;
}
.comButton {
    align-self: flex-end;
    margin-bottom: 20px;
}
.fHead {
    margin-bottom: 10px;
    font-weight: 800;
    text-decoration: underline;
}
.fList {
    display: flex;
    flex-direction: column;
}
.fList a {
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    
}

/* About Page */

.abt {
    font-size: 14px;
    padding: 50px 200px;
    display: flex;
    /* padding: 50px; */
    align-items: center;
    font-weight: 400;
    margin: 0 auto;
    color: #000;
    /* margin-top: 100px; */
    /* margin-bottom: 50px; */
}
.abtContain {
    /* width: 50%; */
    margin-right: 50px;
    /* padding: 20px; */
}
.abtpIMG {
    width: 50%;
    height: 900px;
    background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/58917d8c-2e69-4526-b334-cb9e8c696a4a.JPG?v=1708756494399');
    background-position: center;
    background-size: cover;
}
.abtImg {
    background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/58917d8c-2e69-4526-b334-cb9e8c696a4a.JPG?v=1708756494399');
    background-position: center;
    background-size: cover;
    /* transform: scale(0.8); */
}
.board {
    font-size: 14px;
    padding:  5px 20px;
    margin-bottom: 50px;
    /* padding-right: 200px; */
}
.abt_txt {
    border-top: 2px solid rgb(255, 255, 255);
    padding-top: 10px;
}
.p {
    font-size: 16px;
    font-weight: 300;
}
.abt_head {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.head_text {
    text-transform: uppercase;
    font-weight: 500;
}
.siteName, .boardName {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 5px;
}
.containment {
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    align-items: start;
}
.artDisplay {
    width: 250px;
    height: 300px;
    background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/unsee.jpg?v=1712621557975');
    background-position: center;
    background-size: cover;
}
.tagContain {
    display: flex;
    /* padding: 50px 200px; */
    align-items: center;
    /* justify-content: space-evenly; */
    margin: 0 auto;
    flex-wrap: wrap;
    margin-right: 50px;
    width: 90%;
    margin: 0 auto;
}
.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-direction: column; */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    /* padding: 20px; */
    cursor: pointer;
    /* margin-bottom: 10px; */
    margin-right: 20px;
    margin-top: 30px;
}
.tag1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-direction: column; */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    /* padding: 20px; */
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 20px;
    /* margin-top: 50px; */
}
.tagDetails {
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    /* margin-bottom: 10px; */
}
.nameTag {
    margin-bottom: 5px;
}
.tagPhoto0 {
    background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/unnamed.jpg?v=1710678285820');
    width: 100px;
    height: 200px;
    background-position: center;
    background-size: cover;
}
.tagPhoto1 {
    width: 100px;
    height: 200px;
    background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/422283623_2736532609836213_4919223279810165534_n.jpg?v=1706919031899');
    background-position: center;
    background-size: cover;
}
.tagPhoto2 {
    width: 100px;
    height: 200px;
    background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/unnamed%20(1).jpg?v=1710678576674');
    background-position: center;
    background-size: cover;
}
.abt_button {
    display: flex;
    justify-content: center;
}
.abt_btn {
    padding: 10px 30px;
    background-color: #000;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    transition: .1s;
    color: #fff;
    text-align: center;
}
.abt_btn:hover {
    color: #ffa500;
}
.abt_btn:active {
    transform: scale(0.8);
}
.boardName {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
}
.diverseArt {
    padding: 50px;
}
.DA {
    width: 100%;
}
.cntct {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.sendButton {
    width: 50%;
    align-self: flex-end;
    text-align: left;
    /* margin-bottom: 20px; */
}
.sendBtn {
    padding: 10px 30px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    transition: .1s;
    color: #000;
    text-align: center;
}
.sendBtn:hover {
    color: #ffa500;
}
.sendBtn:active {
    transform: scale(0.8);
}

.headImage {
    width: 90%;
    height: 400px;
    background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/429749626_1883968025339562_8652394235670789421_n.jpg?v=1709113604230');
    background-size: cover;
    background-position: center;
    margin: 50px auto;
}
.scals {
    display: flex;
    margin-bottom: 10px;
}
.instagram, .tumblr {
    width: 35px;
    height: 35px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.act {
    color: #fff;
    border: 4px solid red;
    padding: 10px;
    font-weight: 800;
    cursor: pointer;
}


/* mobile */
@media only screen and (max-width: 60rem) {
    /* .pages {
        display: none;
    } */
    .banner {
        height: 30vh;
        margin-bottom: 20px;
    }
    .HEAD {
        display: none;
    }
    .Logo {
        margin-left: 20px;
    }
    .e {
        margin-right: 20px;
        border: 2px solid #f5f5f5;
        padding: 10px 20px;
    }
    .eLink {
        color: #f5f5f5;
        font-size: 16px;
    }
    .logo {
        width: 150px;
        margin-left: 0px;
    }
    .byline {
        margin-right: 20px;
    }
    .catch {
        margin-right: 20px;
    }
    .mainlinks {
        width: 100%;
    }
    .art {
        padding: 25px;
    }
    .card {
        width: 100px;
        cursor: pointer;
    }
    .cardHead {
        font-size: 18px;
    }
    .cardImage1, .cardImage2, .cardImage3 {
        height: 200px;
    }
    .cardDesc, .tme, .dte, .local {
        font-size: 13px;
    }
    .hh {
        font-size: 18px;
    }
    .learnBody, .ivtDsc, .hst{
        font-size: 16px;
    }
    .invite {
        padding: 5%;
    }
    .learnHead{
        font-size: 20px;
    }
    .btn {
        font-size: 10px;
    }
    .change{
        flex-direction: column;
        padding: 10px;
    }
    .left{
        width: 100%;
        padding: 30px 0;
    }
    .right {
        height: 200px;
        width: 100%;
    }
    .socials {
        padding: 10px;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 10px;
        position: sticky;
    }
    .socials a {
        font-size: 30px;
        color: rgb(54, 54, 164);
    }
    .ff {
        margin-right: 20px;
        font-weight: 500;
    }
    .siteName {
        font-size: 30px;
    }
    .abt {
        padding: 20px;
        margin-bottom: 30px;
        /* width: 90%; */
    }
    .abtIMG {
        display: none;
    }
    .popup .content {
        width: 90%;
    }
    .adImage {
        width: 200px;
        height: 300px;
    }
    .headImage {
        width: 90%;
        height: 200px;
        margin: 0 auto;
    }
    .tag1 {
        /* width: 30%; */
        transform: scale(0.8)
    }
    .tagDetails p {
        font-size: 12px;
    }
    .exposure {
        padding: 10px;
    }
    .artDisplay {
        margin-left: 5px;
    }
    .event {
        /* padding: 25px; */
        position: relative;
        width: 350px;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .flyer {
        width: 80%;
        height: 450px;
        background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/WhatsApp%20Image%202024-06-18%20at%2010.32.19_efe0669b.jpg?v=1718754179273');
        background-position: center;
        background-size:contain;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .slide {
        position: relative;
        width: 100%;
        height: 250px;
    }
    .caption {
        position: absolute;
        font-family: "Inter", sans-serif;
        background-color: #fff;
        font-family: "inter";
        font-size: 14px;
        padding: 10px 20px;
    }
    .one {
        background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/WhatsApp%20Image%202024-06-06%20at%2021.20.21_1b9fed97.jpg?v=1717799197907');
        background-position: center;
        background-size: contain;
    }
    .two {
        background-image: url('https://cdn.glitch.global/20f7db08-2c65-491e-87a0-f660f15456ba/WhatsApp%20Image%202024-06-06%20at%2021.20.20_0da42030.jpg?v=1717799202357');
        background-position: center;
        background-size: contain;  
    }
    .one, .two {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 100s ease-in-out;
    }
    
    img.active {
        opacity: 1;
    }
    
    @keyframes slideAnimation {
        0% {
            opacity: 1;
        }
        33% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        83% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    .one {
        animation: slideAnimation 6s infinite;
    }
    
    .two {
        animation: slideAnimation 6s infinite 3s;
    }
    .details {
        background-color: #fff;
        padding: 20px;
        font-size: 14px;
    }
    .art {
        padding: 20px;
        font-size: 14px;
    }
    .tickets {
        display: flex;
        justify-content: center;
        padding: 25px;
        margin-bottom: 10px;
    }
    .ticket {
        background-color: #2C2C2C;
        border: none;
        color: #fff;
        padding: 15px;
        cursor: pointer;
    }
    .tickets:active {
        transform: scale(0.8);
    }
    .socialLinks {
        margin-top: 0px;
    }
    .catch, .socialLinks, .byline, .Btn {
        margin-left: 20px;
    }
    .eventImage {
        width: 100%;
        margin-left: 0px;
    }
    .serviceArt {
        padding: 0;
        margin-left: 20px;
    }
}